<article class="posts" fxLayout="column" fxLayout.gt-sm="row wrap">
  <ng-container *ngIf="showFeed || showFeedFromNavigation">
    <mat-card aria-label="post card" class="post--card box-shadow" fxFlex.gt-sm="30%" *ngFor="let item of posts">
      <mat-card-header>
        <div aria-label="Author Avatar" mat-card-avatar><mat-icon>person_pin</mat-icon></div>
        <mat-card-title>
          <h2>
            <button type="button" aria-label="Open Post" class="post--title" [id]=item.slug [routerLink]="['/post/', item.slug]" routerLinkActive (click)="openPost($event)"> {{item.title}} </button>
          </h2>
        </mat-card-title>
        <mat-card-subtitle>
          <span>
            {{item.publish_date | date: 'mediumDate' }}
          </span>
          <span class="post--author">
            {{item.author}}
          </span>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <p>
            <button type="button" aria-label="Open Post" class="post--description" [id]=item.slug  [routerLink]="['/post/', item.slug]" routerLinkActive (click)="openPost($event)">
              <ng-container *ngIf="item.description.length > 70">{{ (item.description | slice: 0:70) + '...' }}</ng-container>
              <ng-container *ngIf="item.description.length < 70">{{ item.description }}</ng-container>
            </button>
          </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button aria-label="Open Post" class="post--messages" (click)="openPost($event)">
          <mat-icon aria-label="Open Comments" [id]=item.slug [routerLink]="['/post/', item.slug]" fragment="comments" routerLinkActive>message</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</article>

<article class="posts__content" fxLayout="column">
  <ng-container *ngIf="showPost">
    <mat-card aria-label="post content" class="posts__content--card" fxFlex *ngFor="let item of posts">
      <div id="{{item.slug}}" *ngIf="activeRoute === item.slug || activeRoute === item.slug + '#comments'">
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon>person_pin</mat-icon>
          </div>
          <mat-card-title>
            <div class="posts__content--title"> {{item.title}} </div>
          </mat-card-title>
          <mat-card-subtitle>
            <span>
              {{item.publish_date | date: 'mediumDate' }}
            </span>
            <span class="posts__content--author">
              {{item.author}}
            </span>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="posts__content--description" [innerHTML]="item.content"></div>
        </mat-card-content>
        <mat-card-actions>
          <button aria-label="Open reply comment area" class="posts__content--reply" (click)="openReply(0)">
            <mat-icon>reply</mat-icon>
          </button>
        </mat-card-actions>
      </div>
    </mat-card>
  </ng-container>

  <ng-container *ngIf="showPost">
    <section aria-label="reply comment form"id="replyForm" class="mb-20 mt-20">
      <form [formGroup]="commentsForm" class="posts__form" *ngIf="showReply">
        <fieldset>
          <div fxFlex.ls-sm="100" fxFlex.gt-sm="50" fxLayout="column">
            <mat-form-field appearance="fill" class="mb-5">
              <mat-label for="comment">Comment:</mat-label>
              <textarea matInput name="comment" id="comment" rows="5" formControlName="comment"
                placeholder="Enter your comment here" required></textarea>
              <mat-error *ngIf="isInvalid('comment') || commentsForm.invalid">
                Comment is required
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="mb-5">
              <mat-label for="name">Name:</mat-label>
              <input matInput id="name" name="name" formControlName="name" placeholder="Enter your name" required>
              <mat-error *ngIf="isInvalid('name') || commentsForm.invalid">
                Name is required
              </mat-error>
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary" (click)="addComment()" [disabled]="commentsForm.invalid">Add Comment</button>
          </div>
        </fieldset>
      </form>
    </section>

    <section class="mb-20 mt-20" fxLayout="column">
      <!-- Root Level Comments -->
      <mat-card id="commentCard" class="posts__comment" fxFlex *ngFor="let comment of getCommentsWithoutReplies()">
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon>message</mat-icon>
          </div>
          <mat-card-title>
            <span class="posts__comment--user">
              {{comment.user}}
            </span>
            <span class="posts__comment--date">
              {{comment.date | date: 'mediumDate' }}
            </span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="posts__comment--description"> {{comment.content}} </div>
          <div class="posts__comment--actions">
            <button type="button" aria-label="Open reply comment box" class="posts__comment--reply" (click)="openReply(comment.id)">
              <mat-icon>reply</mat-icon>
            </button>
          </div>

          <!-- Level 1 Nested Replies which should be moved to proper component -->
          <div *ngIf="getRepliesByComment(comment.id).length > 0">
            <div class="posts__comment--replies" *ngFor="let replyLevelOne of getRepliesByComment(comment.id)">
              <mat-card-header>
                <div mat-card-avatar>
                  <mat-icon>message</mat-icon>
                </div>
                <mat-card-title>
                  <span class="posts__comment--user">
                    {{replyLevelOne.user}}
                  </span>
                  <span class="posts__comment--date">
                    {{replyLevelOne.date | date: 'mediumDate' }}
                  </span>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="posts__comment--description"> {{replyLevelOne.content}} </div>
                <div class="posts__comment--actions">
                  <button type="button" aria-label="Open reply comment box" class="posts__comment--reply" (click)="openReply(replyLevelOne.id)">
                    <mat-icon>reply</mat-icon>
                  </button>
                </div>

                <!-- Level 2 Nested Replies -->
                <div class="posts__comment--replies" *ngFor="let replyLevelTwo of getRepliesByComment(replyLevelOne.id)">
                  <mat-card-header>
                    <div mat-card-avatar>
                      <mat-icon>message</mat-icon>
                    </div>
                    <mat-card-title>
                      <span class="posts__comment--user">
                        {{replyLevelTwo.user}}
                      </span>
                      <span class="posts__comment--date">
                        {{replyLevelTwo.date | date: 'mediumDate' }}
                      </span>
                    </mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <div class="posts__comment--description"> {{replyLevelTwo.content}} </div>
                    <!-- <div class="posts__comment--reply">
                      <mat-icon>reply</mat-icon>
                    </div> -->
                  </mat-card-content>
                </div>
              </mat-card-content>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </section>
  </ng-container>
</article>
